@page "/"
@inherits LayoutComponentBase

<h1 class="text-center">Select a Car</h1>

<div class="d-flex vh-100">
    <div class="flex-fill d-flex justify-content-center align-items-center">
        <a class="btn btn-primary btn-select btn-block" href="/car/1">Car 1</a>
    </div>
    <div class="flex-fill d-flex justify-content-center align-items-center">
        <a class="btn btn-success btn-select btn-block" href="/car/2">Car 2</a>
    </div>
</div>

<style>
    .btn-select {
        font-size: 3rem; /* Increase the font size */
        padding: 20px 40px; /* Add more padding */
        width: 50%; /* Increase button width */
    }
</style>